<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/blog_list.css" />
    <script src="js/index.js"></script>
  </head>

  <body id="body">
    <nav>
      <div class="nav-links">
        <h1><a href="index.html">HOME</a></h1>
        <h1 class="active"><a href="blog_list.html">BLOG</a></h1>
      </div>
    </nav>
    <div class="listing container">
      <div class="row">
        <div class="blog_list col-lg-5">
          <div class="row">
            <div class="col-lg-12">
              <div class="blog_info">
                <h3>Welcome to VinnovateIT</h3>
                <p>
                  VinnovateIT is an OFFICIAL innovation and incubation lab of
                  SITE School. VinnovateIT is a one-stop destination from all
                  digitally curious Homosapiens.We are a group of like-minded
                  people looking for some technical trouble in life.Learning
                  from our mistakes and those of others is our motto and nectar
                  of innovation is our diet
                </p>
                <div class="blog_response">
                  <div class="row">
                    <div class="col-6 post-likes">
                      <p><i class="far fa-heart"></i> 7 Likes</p>
                    </div>
                    <div class="col-6 post-comments">
                      <p><i class="far fa-comment"></i> 3 Comments</p>
                    </div>
                  </div>
                </div>
                <a href="blog_detail.html">
                  <p class="read_button">Read More</p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="blog_list col-lg-5">
          <div class="row">
            <div class="col-lg-12">
              <div class="blog_info">
                <h3>Welcome to VinnovateIT</h3>
                <p>
                  VinnovateIT is an OFFICIAL innovation and incubation lab of
                  SITE School. VinnovateIT is a one-stop destination from all
                  digitally curious Homosapiens.We are a group of like-minded
                  people looking for some technical trouble in life.Learning
                  from our mistakes and those of others is our motto and nectar
                  of innovation is our diet
                </p>

                <div class="blog_response">
                  <div class="row">
                    <div class="col-6 post-likes">
                      <p><i class="far fa-heart"></i> 7 Likes</p>
                    </div>
                    <div class="col-6 post-comments">
                      <p><i class="far fa-comment"></i> 3 Comments</p>
                    </div>
                  </div>
                </div>
                <a href="blog_detail.html">
                  <p class="read_button">Read More</p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="blog_list col-lg-5">
          <div class="row">
            <div class="col-lg-12">
              <div class="blog_info">
                <h3>
                  Welcome to VinnovateIT ofdvunfviehvneiv uw uuwc wc wc w c qw
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Eaque at impedit eos. Minima necessitatibus saepe quam.
                  Laudantium recusandae culpa quaerat nihil dolorem,
                  exercitationem maiores dolor ratione voluptatibus ipsam autem
                  quia tempora ab consequatur sint doloremque. Eaque ipsum
                  quisquam similique dolorum nobis, repudiandae suscipit
                  delectus, maiores quibusdam nulla dolore harum. Excepturi
                  porro cum omnis, facilis voluptatibus recusandae,
                  exercitationem accusamus, atque iusto tempora voluptas? Rem
                  cum eum architecto. Amet dolore eius illum ipsa exercitationem
                  voluptatem quisquam nihil magnam minima commodi odit, omnis
                  asperiores nisi dolor! Unde provident architecto molestias,
                  cupiditate exercitationem cumque, saepe sit eaque dolores esse
                  sint in. Expedita, temporibus saepe.
                </p>

                <div class="blog_response">
                  <div class="row">
                    <div class="col-6 post-likes">
                      <p><i class="far fa-heart"></i> 7 Likes</p>
                    </div>
                    <div class="col-6 post-comments">
                      <p><i class="far fa-comment"></i> 3 Comments</p>
                    </div>
                  </div>
                </div>
                <a href="blog_detail.html">
                  <p class="read_button">Read More</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
