<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Blog-detail page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />

    <link rel="stylesheet" href="css/blog_detail.css" />
    <script src="js/index.js"></script>
  </head>

  <body id="body">
    <nav>
      <div class="nav-links">
        <h1><a href="index.html">HOME</a></h1>
        <h1 class="active"><a href="blog_list.html">BLOG</a></h1>
      </div>
    </nav>
    <div class="listing container">
      <div class="blog">
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </h3>
        <br />
        <hr />
        <div class="row">
          <div class="col-3 col-md-1">
            <a href="https://vinnovateit.com/"
              ><img
                src="img/VinnovateIT-shape.png"
                alt=""
                class="blog-detail-icon"
            /></a>
          </div>
          <div class="col-9 col-md-11">
            <div class="writer_info">
              <p>By <b>VinnovateIT Member</b></p>
              <p>01 sep 2020, 19:30pm</p>
            </div>
          </div>
        </div>
        <hr />
        <br />
        <div class="blog-content">
          <img src="img/project-4.PNG" alt="" />
          <br />
          <br />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>

        <hr />

        <div class="buttons">
          <form class="likes" action="index.html" method="post">
            <input type="submit" value="Like" class="blog-button" />
          </form>

          <p class="blog-button" id="comment">Comment</p>
        </div>

        <div class="hide" id="comment-section">
          <form class="" action="index.html" method="post">
            <input type="text" name="" placeholder="Enter your name" required />
            <br />
            <input
              type="text"
              name=""
              placeholder="Enter your thoughts"
              required
            />
            <br />
            <input type="submit" value="Submit" class="blog-button" />
          </form>

          <div class="blog-comments">
            <div class="row">
              <div class="col-12">
                <div class="comment">
                  <h6>
                    <i class="fal fa-user"></i> Name Surname <i>01 sep 2020</i>
                  </h6>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </div>
              <div class="col-12">
                <div class="comment">
                  <h6>
                    <i class="fal fa-user"></i> Name Surname <i>01 sep 2020</i>
                  </h6>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </div>
              <div class="col-12">
                <div class="comment">
                  <h6>
                    <i class="fal fa-user"></i> Name Surname <i>01 sep 2020</i>
                  </h6>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </div>
              <div class="col-12">
                <div class="comment">
                  <h6>
                    <i class="fal fa-user"></i> Name Surname <i>01 sep 2020</i>
                  </h6>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      document.getElementById("comment").addEventListener("click", function () {
        document.getElementById("comment-section").classList.toggle("hide");
      });
    </script>
  </body>
</html>
