<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Neumorphism Login Form UI</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="css/login.css" class="css" />
  </head>
  <body id="body">
    <nav>
      <!--
        <label class="switch">
            <input type="checkbox" id="darkmode">
            <span class="slider round"></span>
        </label>
-->
      <div class="nav-links">
        <h1 class="active"><a href="index.html">HOME</a></h1>
        <h1><a href="blog_list.html">BLOG</a></h1>
      </div>
    </nav>
    <div class="body-login">
      <div class="content">
        <div class="text">Login</div>
        <form action="#">
          <div class="field">
            <span class="fas fa-user"></span>
            <input type="text" required />
            <label>Email or Phone</label>
          </div>
          <div class="field">
            <span class="fas fa-lock"></span>
            <input type="password" />
            <label>Password</label>
          </div>

          <button>Sign in</button>
          <div class="signup">
            Not a member?
            <a href="signup.html">SignUp now</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
