.Create-Post {
  margin-top: 2rem;
}

.ql-toolbar {
  display: flex !important;
  justify-content: center;
}

.ql-header {
  margin: 0 3px;
}
.ql-formats {
  display: flex !important;
  align-items: center !important;
}

.ql-container {
  min-height: 50vh;
}

.collection {
  list-style: none;
}

.collection li {
  background-color: #ffff;
}

.collection li:hover {
  background-color: rgb(218, 218, 218);
}

.search-list {
  padding: 0.2rem 1rem;
}

.search-list p {
  font-size: 0.75rem;
  font-style: italic;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.submit-btn {
  max-width: 50%;
}
