.Homepage {
  /* scroll-snap-type: y mandatory;
    overflow-y: sroll; */
  width: 100%;
  height: 100vh;
}
.Homepage-section {
  padding: 30px;
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* background-color: rgba(255, 0, 0, 0.336); */
  align-items: center;
  height: 90vh;
}
.Homepage-section > div {
  padding: 40px;
  font-size: 20px;
}
.Homepage-section > div h4 {
  font-size: 4rem;
}
.Homepage-section > img {
  max-width: 70%;
}

.Homepage .btn {
  margin-right: 1rem;
}

.Homepage .btn-primary {
  background-color: #007bff;
}

.Homepage-section p {
  font-size: 1.3rem;
}
