* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(224, 229, 236);
    color: rgb(100, 100, 100);

}
.listing{
    margin-top:5rem;
}
nav {
    padding: 0;
    margin: 0;
    padding-bottom: 1.5rem;

}

nav .nav-links {
    position: relative;
    float: right;
    right: 0;
}
nav .nav-links h1 {
    list-style: none;
    display: inline-block;
    position: relative;
    /* box-shadow: 5px 5px 10px 0 rgba(119,119,119, 0.8),
 -5px -5px 10px 0 rgba( 255,255,255,0.8); */
    border-radius: .8rem;
    padding: 15px;
    margin: 10px;
}

nav .nav-links h1:hover {
    /* box-shadow: inset 5px 5px 10px 0 rgba(119,119,119, 0.8),
    inset -5px -5px 10px 0 rgba(255,255,255, 0.8); */
}

nav .nav-links h1 a {
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-size:1.8rem;
    font-weight: bold;
    display: flex;
}

nav .nav-links h1 a:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 45%;
    height: 6px;
    transform: scaleX(0.15);
    background-color: rgb(100, 100, 100);
    transform-origin: left;
    transition: all 0.5s;
}


nav .nav-links h1 a:hover:after {
    transform: scaleX(1);
}
nav .nav-links>.active>a:after {
   visibility: visible;
 -webkit-transform: scaleX(1);
 transform: scaleX(1);
}

.blog_list {
    margin: auto;
    margin-top: 2rem;
    padding: 2%;
    margin-bottom: 2rem;
    border-radius: .8rem;
    box-shadow: 6px 6px 10px 0 rgba(163, 177, 198, 0.8),
        -6px -6px 10px 0 rgba(255, 255, 255, 0.8);
        font-size: 16px;
}
.blog_info > h3{
    font-size: 38px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.blog_info > p {
    padding: 25px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.blog_list:hover {
    box-shadow: inset 6px 6px 10px 0 rgba(163, 177, 198, 0.8),
        inset -6px -6px 10px 0 rgba(255, 255, 255, 0.8);

}
.post-likes {
    text-align: left;
}
.post-comments {
    text-align : right;
}
.read_button {
    margin: 15px 0px;
    padding: 10px 20px;
    display: inline-block;
    background: rgb(11, 155, 202);
    color: white;
    font-size: 20px;
    border-radius: .8rem;
    box-shadow: 2px 2px 4px 0 rgba(119, 119, 119, 0.8),
        -2px -2px 4px 0 rgba(255, 255, 255, 0.8);
    transition: box-shadow .3s;
}

.read_button:hover {
    box-shadow: inset 3px 3px 5px 0 rgba(11, 155, 202, 0.8),
        inset 3px 3px 5px 0 rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 650px) {
    .blog_list {
        width: 90%;
    }
}
