body {
    height: 100vh;
    background-color: rgb(224, 229, 236);
}

nav {
    padding: 0;
    margin: 0;
    padding-bottom: 1.5rem;

}

nav .nav-links {
    position: relative;
    float: right;
    right: 0;
}

nav .nav-links h1 {
    list-style: none;
    display: inline-block;
    position: relative;
    /* box-shadow: 5px 5px 10px 0 rgba(163,177,198, 0.8),
 -5px -5px 10px 0 rgba( 255,255,255,0.8); */
    border-radius: .8rem;
    padding: 15px;
    margin: 10px;
}

nav .nav-links h1:hover {
    /* box-shadow: inset 5px 5px 10px 0 rgba(163,177,198, 0.8),
    inset -5px -5px 10px 0 rgba(255,255,255, 0.8);
*/
}

nav .nav-links h1 a {
    text-decoration: none;
    color: rgb(100, 100, 100);
      font-size:1.8rem;
    font-weight: bold;
    display: flex;
}

nav .nav-links h1 a:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 45%;
    height: 6px;
    transform: scaleX(0.15);
    background-color: rgb(100, 100, 100);
    transform-origin: left;
    transition: all 0.5s;
}


nav .nav-links h1 a:hover:after {
    transform: scaleX(1);
}
nav .nav-links>.active>a:after {
   visibility: visible;
 -webkit-transform: scaleX(1);
 transform: scaleX(1);
}
.buttons{
    width:100%;
  display: grid;
  place-items: center;
  text-align: center;
    transition: box-shadow .5s;
   
    background:rgb(224, 229, 236);

    padding: 1.5rem 2rem 2rem;
    border: none;
    overflow: hidden;
    
}
button{
  margin: 15px 0;
  width: 15%;
  height: 50px;
  color: rgb(100,100,100);
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #babecc,
              -5px -5px 10px #ffffff73;
}
.read_button {
    margin: 15px 0px;
    padding: 15px 25px;
    display: inline-block;
    background: rgb(11, 155, 202);
    color: white;
    border-radius: .8rem;
    box-shadow: 2px 2px 4px 0 rgba(119, 119, 119, 0.8),
        -2px -2px 4px 0 rgba(255, 255, 255, 0.8);
    transition: box-shadow .3s;
}

.read_button:hover {
    box-shadow: inset 3px 3px 5px 0 rgba(11, 155, 202, 0.8),
        inset 3px 3px 5px 0 rgba(255, 255, 255, 0.8);
}
button:focus{
  color: #3498db;
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
}
a{
  color: rgb(100,100,100);
  text-decoration: none;
}
a:hover{
    text-decoration: none;  color: rgb(100,100,100);

}

#team {
    min-height: 100vh;
    max-height: 100vh;
    transition-duration: 0.5s;
    color: rgb(100, 100, 100);
    font-size: 1rem;
}

#team .icon {
    color: rgb(11, 155, 202);
}

#team img {
    border-radius: .8rem;
    box-shadow: 5px 5px 7px 0 rgba(119, 119, 119, 0.8),
        -5px -5px 7px 0 rgba(255, 255, 255, 0.8);
    margin-top: 1rem;

}

#team .fa-circle {
    color: rgb(179, 179, 179);
}

#team .card {
    margin: 0.7rem;
    transition: box-shadow .5s;
    background-color: #afd275;
    background: transparent;
    padding: 1.5rem 2rem 2rem;

    box-shadow: 10px 10px 15px 0 rgba(163, 177, 198, 0.8),
        -10px -10px 15px 0 rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 1.4rem;
    overflow: hidden;

}

#team .card-body {
    display: grid;
}

#team .card:hover {
    box-shadow: inset 10px 10px 15px 0 rgba(163, 177, 198, 0.8),
        inset -10px -10px 15px 0 rgba(255, 255, 255, 0.8);
}

#team .bottom_elements {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#team .big_card {
    font-size: 1.2rem;
}

#team .semi {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 990px) and (min-width:768px) {
    #team .semi {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
}